@model IEnumerable<FetchMatesClone.Models.Dog>

@{
    ViewData["Title"] = "Index";
}

<h1>Fellow Fetchers</h1>

<p>
    <a class="btn btn-dark" asp-action="Create">Add to the Pack</a>
</p>
<table class="table">
    <thead>
        <tr>
         
            <th>
                Dog Breed
            </th>
            <th>
                Dog Name
            </th>
            <th>
                Dog Weight
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>         
            <td>
                @Html.DisplayFor(modelItem => item.DogBreed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DogName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DogWeight)
            </td>
            <td>
                <a class="fas fa-edit" asp-action="Edit" asp-route-id="@item.DogId"></a> 
                <a  class="fas fa-dog" asp-action="Details" asp-route-id="@item.DogId"></a> 
                <a  class="fas fa-trash" asp-action="Delete" asp-route-id="@item.DogId"></a>
            </td>
        </tr>
}
    </tbody>
</table>

