@model IEnumerable<FetchMatesClone.Models.Dog>

@{
    ViewData["Title"] = "Index";
}

<h1>Fellow Fetchers</h1>

<p>
    <a class="btn btn-dark" asp-action="Create">Add to the Pack</a>
</p>
<table class="table color">
    <thead>
        <tr>
            <th>
                Doggy ID
            </th>
            <th>
                Dog Breed
            </th>
            <th>
                Dog Name
            </th>
            <th>
                Dog Weight
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DogId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DogBreed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DogName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DogWeight)
            </td>
            <td>
                <a class="btn btn-dark" asp-action="Edit" asp-route-id="@item.DogId">Edit</a> |
                <a  class="btn btn-dark" asp-action="Details" asp-route-id="@item.DogId">Details</a> |
                <a  class="btn btn-dark" asp-action="Delete" asp-route-id="@item.DogId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
