@model IEnumerable<FetchMates.Models.DogParkVisit>

@{
    ViewData["Title"] = "Index";
}

<h1>Lets Go To The Park</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Park Name
            </th>
            <th>
                Time Scheduled 
            </th>
            <th>
               Dogs Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ParkName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DayAndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dog.DogName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DogId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DogId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DogId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
