@model IEnumerable<FetchMates.Models.Dog>

@{
    ViewData["Title"] = "Index";
}

<h1>Tell Us A Little About Your Dog</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Dog Breed
            </th>
            <th>
                Dog Name
            </th>
            <th>
               Weight
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DogBreed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DogName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DogWeight)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DogId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DogId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DogId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
