@model IEnumerable<FetchMatesClone.Models.DogParkVisit>

@{
    ViewData["Title"] = "Index";
}

<h1>Fellow Fetchers</h1>

<p>
    <a class="btn btn-dark" asp-action="Create">Make a Time</a>
</p>
<table class="table color">
    <thead>
        <tr>
            <th>
                Park Name
            </th>
            <th>
                Park Visit
            </th>
            <th>
               Doggy
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ParkName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DayAndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dog.DogName)
            </td>
            <td>
                <a class="btn btn-dark" asp-action="Edit" asp-route-id="@item.VisitId">Edit</a> 
                <a class="btn btn-dark" asp-action="Details" asp-route-id="@item.VisitId">Details</a> 
                <a class="btn btn-dark" asp-action="Delete" asp-route-id="@item.VisitId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
